<nav class="navbar navbar-expand-md navbar-light justify-content-between" id="ata-main-nav">
    <a class="navbar-brand" href="https://www.atalante.fr" target="_blank" style="">
        <img src="{{ asset('assets/img/atalante/logo.png') }}" alt="{{ marque }}" class="">
    </a>
    <div id="ata-nav" style="font-size:1em;">
        <ul class="navbar-nav">
            <li class="nav-aide">
                <a class="ata-aide" href="{{ urlAide }}" target="_blank">
                    <i class="fa fa-info" aria-hidden="true"></i>Aide
                </a>
            </li>
            <li class="nav-compte">
                <a class="ata-compte" href="{{ urlClient }}" target="_blank">
                    <i class="fa fa-user" aria-hidden="true"></i>Mon compte
                </a>
            </li>
            <li class="nav-tel">
                <a class="ata-tel" href="{{ telLien }}">
                    <i class="fa fa-phone" aria-hidden="true"></i> {{ tel }}
                </a>
            </li>
        </ul>
    </div>
</nav>