{% extends "base.html.twig" %}

{% block title %}Paiement | {{ marque }} {% endblock %}

{% block content %}
	<div style="margin: 0px 50px;text-align: center">
		{% if params.return == 'OK' %}
    		<h2>Votre réservation a bien été effectuée</h2>
            <p class="mt-3 mb-3" style="font-size: 0.9em;">Vous venez de réaliser une réservation sur notre site {{ marque }} et nous vous en remercions. <br/>Vous allez bientôt recevoir un mail de confirmation. <br/>Un conseiller voyage va traiter votre dossier et reviendra vers vous si vous nous avez fait part d'une demande particulière.</p>
    		<h3>Rappel des informations liées à votre réservation :</h3>
            <p>
                Numéro de dossier : {{ params.numdos }}<br>
                Référence de votre transaction : {{ params.pay_id }}<br>
                Montant de votre acompte : {{ params.paye }}€<br>
            </p>
            <!-- Récuperation numéro de dossier pour stats de tracking relance de panier VEInteractive -->
			<input type="hidden" id="veordernumber" value="{$tag_num_dos}">
        {%  else %}
        	<h2>Votre réservation n'a pu aboutir suite à un problème de paiement</h2>
			<h3>Rappel des informations liées à votre réservation :</h3>
            <p>
                Numéro de dossier : {{ params.numdos }}<br>
                Référence de votre transaction : {{ params.idTransfertMerc }}<br>
            </p>
        {%  endif %}
	</div>
    <div style="text-align: center;margin-top:20px">
        <a href="{{ url_site }}" title="{{ nom_site }}">
            <button type="button" class="btn btn-primary">Continuer</button>
        </a>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {% if params.return == 'OK' %}
        <!-- Tag Google -->
        <!-- Datalayer GTM -->
        <script>
            window.dataLayer = window.dataLayer || [];
            dataLayer.push({
                'is_transaction': true,
                'event': 'datalayer_ready',
                'products' : [{
                    'name' : '{{ params.libPack }}',
                    'id' : '{{ params.codPack }}',
                    'price' : '{{ params.prixTTC }}',
                    'quantity' : '{{ params.nbPax }}',
                    'travel_time' : '{{ params.nbJours }}',
                    'travel_type' : '{{ params.typePack }}',
                    'travel_destination' : '{{ params.paysPack }}',
                    'niveau' : '{{ params.niveau }}'
                }],
                'transaction_id' : '{{ params.numdos }}',
                'transaction_revenue' : '{{ params.prixTotal }}',
                'transaction_tax' : '19.6'
            });
        </script>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-21186870-1");
                pageTracker._setDomainName("none");
                pageTracker._setAllowHash(false);
                pageTracker._setAllowLinker(true);
                pageTracker._trackPageview();
                pageTracker._addTrans(
                    "{{ params.numdos }}",           // Mettre le numéro de dossier
                    "atalante.fr",  // affiliation or store name
                    "{{ params.prixTotal }}",          // Montant total
                    "",           // somme total des presta sup obligatoire = taxe
                    "",              // frais de port : ne rien mettre
                    "{{ params.villeClient }}",       // ville du payeur
                    "{{ params.codePostalClient }}",     // code postal
                    "{{ params.paysClient }}"             // pays
                );
                // add item might be called for every item in the shopping cart
                // where your ecommerce engine loops through each item in the cart and
                // prints out _addItem for each
                pageTracker._addItem(
                    "{{ params.numdos }}",           // Mettre le numéro de dossier
                    "{{ params.codPack }}",           // Code du voyage
                    "{{ params.libPack }}",        // Nom du voyage
                    "{{ params.paysPack }}",   // pays de destination
                    "{{ params.prixTTC }}",          // Prix unitaire du package
                    "{{ params.nbPax }}"               // Nombre de passager
                );
                pageTracker._trackTrans(); //submits transaction to the Analytics servers
            } catch(err) {}
        </script>
        <!-- Google Code for Conversions Adwords Conversion Page -->
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 1067504847;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "G-n9CL_7w3EQz6mD_QM";
            var google_conversion_value = "{{ params.prixTotal }}";
            var google_conversion_currency = "EUR";
            var google_remarketing_only = false;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/ 1067504847/?value=1.00&amp;currency_code=EUR&amp;label=G-n9CL_7w3EQz6mD_QM&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>
        {# Pixel tracker pour conversions flux moteur destination trek mag #}
        <img src="http://track.effiliation.com/servlet/effi.revenue?id=660016890&montant={{ params.prixTTC }}&monnaie=eu&ref={{ params.numdos }}&payment=" alt="" width="1" height="1" />
        <!-- Tag CRITEO -->
        <script type="text/javascript">
            window.criteo_q = window.criteo_q || [];
            window.criteo_q.push(
                { event: "setAccount", account: 28695 }, // Numéro de compte Criteo
                { event: "setCustomerId", id: "{{ params.numPas }}" },
                { event: "setEmail", email: "{{ params.id }}" },
                { event: "setSiteType", type: /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d" },
                { event: "trackTransaction" , id: "{{ params.numdos }}", item: [
                        { id: "{{ params.codPack }}", price: {{ params.prixTotal }}, quantity: {{ params.nbPax }} } //Code voyage + prix total de la commande + nb de personnes dans le dossier
                        /* #add a line for each item in the user's cart# */
                    ]});
        </script>
        <!-- Facebook Conversion Code for Paiements - Atalante 1 -->
        <script>
            (function() {
                var _fbq = window._fbq || (window._fbq = []);
                if (!_fbq.loaded) {
                    var fbds = document.createElement('script');
                    fbds.async = true;
                    fbds.src = '//connect.facebook.net/en_US/fbds.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(fbds, s);
                    _fbq.loaded = true;
                }
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6026339351765', {'value':'{{ params.prixTotal }}','currency':'EUR'}]);
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026339351765&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>
        <!-- Bing Ads Conversion Tracker -->
        <script type="text/javascript">
            window.uetq = window.uetq || [];
            window.uetq.push({ 'gv': {{ params.prixTotal }} });
        </script>
    {% else %}
        <!-- Tag CRITEO -->
        <script type="text/javascript">
            window.criteo_q = window.criteo_q || [];
            window.criteo_q.push(
                { event: "setAccount", account: 28695 }, // Numéro de compte Criteo
                { event: "setCustomerId", id: "{{ params.numPas }}" }, // Num Pass du client
                { event: "setEmail", email: "{{ params.id }}" },
                { event: "setSiteType", type: /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d" },
                { event: "trackTransaction" , id: "{{ params.numdos }}", item: [
                        { id: "{{ params.codPack }}", price: {{ params.prixTotal }}, quantity: 1 } //Code voyage + prix total de la commande + nb de personnes dans le dossier

                    ]});
        </script>
    {%  endif %}
{% endblock %}