{% set marque = app.session.get('marque') %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZGKJNB');</script>
        <!-- End Google Tag Manager -->

        <!-- Required meta tags -->
        <meta name="robots" content="noindex" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- End meta tags -->

        <title>{% block title %}Réservation avec {{ marque }}{% endblock %}</title>

        <link rel="icon" href="assets/img/atalante/favicon.ico">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css?family=Poppins:wght@100;900&display=swap" rel="stylesheet">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <!-- End Bootstrap CSS -->

            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/styles.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/override.css') }}">
        {% endblock %}

        <link rel="shortcut icon" type="image/png" href="{{ 'assets/img/atalante/favicon.ico' }}" />
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/41cb4378fd.js" crossorigin="anonymous"></script>

            <!-- Tag Criteo -->
            <script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
            <!-- End Tag Criteo -->

        {% endblock %}
    </head>
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZGKJNB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <div class="page_loader"><div class="loader">&nbsp;</div></div>
        <div id="chargement" class="" style="z-index: 900"></div>
        <div id="ata-header">
            {% block nav %}{{ include("main/header.html.twig") }}{% endblock %}
            <div id="ata-img-header">Réservez votre voyage en ligne</div>
        </div>

        {% block body %}
        {% endblock %}

        {% include("main/footer.html.twig") %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{#        <script src="https://www.dwin1.com/29489.js" type="text/javascript" defer="defer"></script>#}
        <script src="{{ asset("assets/js/script.js") }}"></script>

        <script type="text/javascript">
            $(function() {
                $('.page_loader').show();

                $('#booking_leaderPas_dtNaissPas').removeClass('datetimepicker');
                $('#booking_leaderPas_dtNaissPas').removeClass('hasDatepicker');
                $('#booking_passengers_1_dtNaissPas').removeClass('datetimepicker');
                $('#booking_passengers_1_dtNaissPas').removeClass('hasDatepicker');
                $('#booking_leaderPas_dtNaissPas').keyup(function () {
                    var nb_car = $(this).val().length;
                    if (nb_car == 2 || nb_car == 5) {
                        $(this).val($(this).val() + '/');
                    }
                });

                window.onscroll = function () {
                    stickyInfos()
                };

                var $selectorAdult = $('#booking_nbAdults');
                var $selectorChildren = $('#booking_nbChildren');
                var $selectorPax = $('#booking_nbAdults, #booking_nbChildren');
                var $nbAdults = $('#booking_nbAdults').val();
                var $nbChildren = $('#booking_nbChildren').val();

                if ($('#fin').length) {
                    var elem = $('#fin');
                    if (elem) {
                        $(window).scrollTop(elem.offset().top).scrollLeft(elem.offset().left);
                    }
                }

                $(document).on('submit', function () {
                    $('.page_loader').show();
                });

                setsession('booking_nbAdults', $nbAdults);
                setsession('booking_nbChildren', $nbChildren);

                refreshBlocInfo($selectorAdult.val(), $selectorChildren.val());

                setAssurances();

                $selectorAdult.val($nbAdults);
                $selectorChildren.val($nbChildren);

                if ($('.ata-pass-adult').length == 0) {
                    manageForms($selectorAdult, 'adult');
                }

                $selectorPax.on('change', function () {
                    const $bookingNbAdults = $('#booking_nbAdults');
                    const $bookingNbChildren = $('#booking_nbChildren');
                    setsession('booking_nbAdults', $bookingNbAdults.val());
                    setsession('booking_nbChildren', $bookingNbChildren.val());
                    manageForms($selectorAdult, 'adult');
                    manageForms($selectorChildren, 'child');
                    checkPassagers();
                    stepAssurances();
                    refreshBlocInfo($selectorAdult.val(), $selectorChildren.val());
                    if ($('#validDEVIS').length) {
                        $('#validDEVIS').prop('checked', false).removeAttr('checked');
                    }
                    $('#topayment').html('');
                });

                checkSteps();

                function stickyInfos() {
                    var element = document.getElementById('ata-header');
                    $('.ata-sidebar').toggleClass('sticky', document.documentElement.scrollTop > element.clientHeight + 20);
                }

                // Cache selectors
                const $bookingNbAdults = $('#booking_nbAdults');
                const $bookingNbChildren = $('#booking_nbChildren');
                const $ataPriceTotalPartial = $('.ata-price-total span, .ata-price-partial span');
                const $ataPaxAdult = $('span.ata-pax-adult');
                const $ataPaxChildren = $('span.ata-pax-children');
                const $ataNbPax = $('span.ata-nb-pax');
                const $ataBookingPaxNumber = $('.ata-booking-pax-number span');

                function refreshBlocInfo(nbAdults, nbChildren) {
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('app_pax') }}',
                        data: {
                            category: '',
                            categories: { adult: nbAdults, child: nbChildren },
                            nb: 0,
                        },
                        dataType: 'json',
                        success: function(response) {
                            $bookingNbAdults.val(nbAdults);
                            $bookingNbChildren.val(nbChildren);
                            $ataPriceTotalPartial.text(response.full_price);
                            $ataPaxAdult.text(response.nbAdults);
                            $ataPaxChildren.text(response.nbChildren);
                            $ataNbPax.text(Number(response.nbAdults) + Number(response.nbChildren));
                            $ataBookingPaxNumber.text(response.nbAdults);
                        },
                        complete: function() {
                            $(".page_loader").fadeOut("fast");
                        },
                    });
                    displayInfos();
                }
                function manageForms(selector, typePass) {
                    const numPass = $('.ata-pass-' + typePass).length;
                    if (selector.val() !== numPass) {
                        const $passElems = $('.ata-pass-' + typePass);
                        const $assElems = $('.ata-ass-' + typePass);
                        if (selector.val() < numPass) {
                            const diff = numPass - selector.val();
                            for (let i = 0; i < diff; i++) {
                                $passElems.last().remove();
                                $assElems.last().remove();
                            }
                            if (diff > 0) {
                                delSessionPassenger(typePass);
                            }
                        } else {
                            const diff = selector.val() - numPass;
                            for (let i = 0; i < diff; i++) {
                                addPassenger(typePass);
                            }
                        }
                    }
                    stepAssurances();
                }
                function delSessionPassenger(type) {
                    $.ajax({
                        type: 'POST',
                        async: false,
                        url: '{{ path('app_updatesession') }}',
                        data: {
                            category: '',
                            categories: {'id': 'del', 'valeur': type}
                        },
                        dataType: 'json'
                    }).done(function() {
                        // console.log('del => ', response);
                    });
                    setsession('validDEVIS', '');
                    if ($("#validDEVIS").length) {
                        $("#validDEVIS").prop('checked', false);
                        $('#topayment').html('');
                    }
                }
                function addPassenger(typePass) {
                    const index = $(`.ata-pass-${typePass}`).length + 1;
                    const indexPass = $('.ata-passenger-bloc').length + 1;
                    const isLeader = (indexPass === 1) ? 1 : 0;
                    const isChild = (typePass === 'child') ? 1 : 0;
                    const civility = (typePass === 'child')
                        ? {
                            options: '<option value="Enfant Garçon">Enfant Garçon</option><option value="Enfant Fille">Enfant Fille</option>',
                            title: 'Enfant'
                        }
                        : {options: '<option value="M.">M.</option><option value="Mme">Mme</option>', title: 'Adulte'};
                    const template = `<div class="mt-3 mb-3 mr-lg-3 ata-passenger-bloc d-flex align-items-stretch ata-pass-${typePass} ata-pass-${typePass}-${indexPass}">
                                        <div class="ata-passenger-type p-3 text-center">${civility.title}<br>n°${index}</div>
                                        <div class="ata-passenger-info p-3">
                                            <input type="hidden" id="booking_passengers_${indexPass}_isChild" name="booking[passengers][${indexPass}][isChild]" value="${isChild}">
                                            <input type="hidden" id="booking_passengers_${indexPass}_leaderPax" name="booking[passengers][${indexPass}][leaderPax]" value="${isLeader}">
                                            <input type="hidden" id="booking_passengers_${indexPass}_numPas" name="booking[passengers][${indexPass}][numPas]" value="${indexPass}">
                                            <div class="row">
                                                <div class="form-group col-lg-3 col-sm-6">
                                                    <label class="control-label required " for="booking_passengers_${indexPass}_qualite">Civilité*</label>
                                                    <select onchange="updatesession(this.id);checkPassagers();" id="booking_passengers_${indexPass}_qualite" name="booking[passengers][${indexPass}][qualite]" required="required" class="form-control">
                                                       <option value="" selected="selected">Civilité *</option>
                                                       ${civility.options}
                                                    </select>
                                                </div>
                                                <div class="form-group col-lg-3 col-sm-6">
                                                    <label class="control-label required " for="booking_passengers_${indexPass}_nomPas">Nom*</label>
                                                    <input onchange="updatesession(this.id);checkPassagers();" type="text" id="booking_passengers_${indexPass}_nomPas" name="booking[passengers][${indexPass}][nomPas]" required="required" class="form-control" value="">
                                                </div>
                                                <div class="form-group col-lg-3 col-sm-6">
                                                    <label class="control-label required " for="booking_passengers_${indexPass}_prenomPas">Prénom*</label>
                                                    <input onchange="updatesession(this.id);checkPassagers();" type="text" id="booking_passengers_${indexPass}_prenomPas" name="booking[passengers][${indexPass}][prenomPas]" required="required" class="form-control" value="">
                                                </div>
                                                <div class="form-group col-lg-3 col-sm-6">
                                                    <label class="control-label required " for="booking_passengers_${indexPass}_dtNaissPas">Date de naissance*</label>
                                                    <input onkeyup="checkNaissance(this.id);" onchange="updatesession(this.id);checkPassagers();" type="text" id="booking_passengers_${indexPass}_dtNaissPas" name="booking[passengers][${indexPass}][dtNaissPas]" required="required" placeholder="jj/mm/aaaa" class="form-control" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;
                    setsession(`booking_passengers_${indexPass}_isChild`, isChild);
                    setsession(`booking_passengers_${indexPass}_leaderPax`, isLeader);
                    setsession(`booking_passengers_${indexPass}_numPas`, indexPass);
                    $('.ata-passengers-container').append(template);
                }

                $('.page_loader').hide();
            });

            function updatesession(id) {
                var valeur = $('#' + id).val() || '0';
                $.post('{{ path('app_updatesession') }}', {
                    category: '',
                    categories: {'id': id, 'valeur': valeur}
                }, function (response) {
                    // console.log('update => '+id+' = ', response);
                }, 'json');
            }
            function setsession(id, valeur) {
                if (valeur === '' || valeur === null) {
                    valeur = '0';
                }
                return $.ajax({
                    type: 'POST',
                    url: '{{ path('app_updatesession') }}',
                    data: {
                        category: '',
                        categories: {'id': id, 'valeur': valeur}
                    }
                }).then(function (response) {
                    // console.log('set => '+id+' = ', response);
                });
            }
            function updateLeader(champ){
                var $valeur = $('#booking_leaderPas_' + champ).val();
                $('#booking_passengers_1_' + champ).val($valeur);
                setsession('booking_passengers_1_' + champ,$valeur);
            }
            function displayAssurances(){
                $.ajax({
                    type: "POST",
                    url: "{{ path('app_infos_assurances') }}",
                    dataType: "html",
                    success: function(response) {
                        $('.ata-sidebar-assurance-container').html(response);
                    },
                });
            }
            function stepAssurances(){
                $.ajax({
                    type: "POST",
                    url: "{{ path('app_step_assurances') }}",
                    dataType: "html",
                    cache: false,
                    success: function(response){
                        $('#step_assurance').removeClass('hidden').html(response);
                        if(response.trim() !== ""){
                            setAssurances();
                        }
                    }
                });
            }
            function setAssurances() {
                $(function() {
                    const $table = $('.table-assurances');
                    const $radios = $table.find('input[type="radio"]');
                    const Pax = {
                        numpas: "",
                        assurance: "",
                        toString() {
                            return `${this.numpas} :: ${this.assurance}`;
                        }
                    };
                    calculateAssurances();
                    $table.on('change', 'input[type="radio"]', function() {
                        $table.find('tr').removeClass('active');
                        $(this).closest('tr').addClass('active');
                        calculateAssurances();
                    });
                    function getAssurances() {
                        const assurances = [];
                        $radios.filter(':checked').each(function() {
                            assurances.push({
                                numpas: $(this).attr('pax'),
                                assurance: $(this).val()
                            });
                        });
                        setsession('assurances', assurances);
                        return assurances;
                    }
                    function calculateAssurances() {
                        $.post(
                            "{{ path('app_assurances') }}",
                            { assurances: getAssurances() },
                            "json"
                        )
                            .done(function(response) {
                                const detailDevis = response.detailDevis;
                                const $priceTotal = $('.ata-price-total span');
                                const $pricePartial = $('.ata-price-partial span');
                                const $fullPrice = $('#full_price');
                                const $acompte = $('#acompte');
                                const $validationMontant = $('.validation_montant strong');
                                const $validationAcompte = $('.validation_acompte strong');
                                const $versPaiementAcompte = $('.vers_paiement_acompte strong');

                                $priceTotal.text(detailDevis.montant_total_devis);
                                $pricePartial.text(detailDevis.montant_acompte_devis);
                                $fullPrice.val(detailDevis.montant_total_devis);
                                $acompte.val(detailDevis.montant_acompte_devis);
                                $validationMontant.text(`${detailDevis.montant_total_devis} € TTC`);
                                $validationAcompte.text(`${detailDevis.montant_acompte_devis} €`);
                                $versPaiementAcompte.text(`${detailDevis.montant_acompte_devis} € TTC`);

                                displayAssurances();
                                stepValidation();

                                var total = $('#prixtotal').html();
                                total = total.replace(/ /g,'');
                                if(Number(total) < 8000){
                                    $('.assmin').prop('disabled', true);
                                }else{
                                    $('.assmin').prop('disabled', false);
                                }

                            })
                            .fail(function(error) {
                                console.log("Une erreur s'est produite lors du calcul des assurances : " + error);
                            });
                    }
                });
            }
            function stepValidation() {
                const $stepValidation = $('#step_validation');
                $stepValidation.removeClass('hidden');
                $.post('{{ path('app_step_validation') }}')
                    .done(function(response) {
                        $stepValidation.html(response);
                    });
            }
            function checkCoordonnees() {
                const requiredFields = [
                    '#booking_leaderPas_qualite',
                    '#booking_leaderPas_nomPas',
                    '#booking_leaderPas_prenomPas',
                    '#booking_leaderPas_dtNaissPas',
                    '#booking_leaderPas_emailDom',
                    '#booking_leaderPas_telMobile'
                ];
                const isValid = requiredFields.every(field => $(field).val());
                if (isValid) {
                    $('#booking_passengers_1_leaderPax').val('1');
                    setsession('booking_passengers_1_leaderPax', '1');
                    $('#booking_passengers_1_isChild').val('0');
                    setsession('booking_passengers_1_isChild', '0');
                    setsession('voir_adresse', 'oui');
                    $('#voir_adresse').removeClass('hidden');
                } else {
                    checkSteps();
                }
            }
            function checkAdresse() {
                const $adresse = document.getElementById('booking_leaderPas_adresse1').value;
                const $codePostal = document.getElementById('booking_leaderPas_codePostal').value;
                const $villeFr = document.getElementById('booking_leaderPas_villeFr').value;
                const $pays = document.getElementById('booking_leaderPas_codPays').value;
                if ($adresse && $codePostal && $villeFr && $pays) {
                    setsession('voir_passenger', 'oui');
                    document.getElementById('voir_passenger').classList.remove('hidden');
                    document.getElementById('voir_option').classList.remove('hidden');
                    document.getElementById('step_assurance').classList.remove('hidden');
                    document.getElementById('step_validation').classList.remove('hidden');
                    stepAssurances();
                }
            }
            function checkPassagers() {
                const nbAdults = parseInt($('#booking_nbAdults').val(), 10);
                const nbChildren = parseInt($('#booking_nbChildren').val(), 10);
                const nbPassengers = nbAdults + nbChildren;
                let isComplete = true;
                for (let i = 1; i <= nbPassengers ; i++) {
                    const passengerFields = [
                        'numPas',
                        'isChild',
                        'leaderPax',
                        'qualite',
                        'nomPas',
                        'prenomPas',
                        'dtNaissPas'
                    ];
                    passengerFields.forEach(field => {
                        if (!$(`#booking_passengers_${i}_${field}`).val()) {
                            isComplete = false;
                        }
                        // console.log(nbPassengers +' => '+isComplete+' => '+i+' '+field+' '+$(`#booking_passengers_${i}_${field}`).val());
                    });
                }
                if (isComplete) {
                    stepAssurances();
                    setAssurances();
                    versPaiement();
                    displayInfos();
                }
            }
            async function checkValidation() {
                try {
                    $('.page_loader').show();
                    const areAllValidated = ['#validDEVIS', '#validCDV', '#validPAYS', '#validCHARTE', '#validREGLEMENT'].every(selector => $(selector).prop('checked'));
                    if (areAllValidated) {
                        const isValid = document.forms['booking'].reportValidity();
                        console.log(`validation ${isValid}`);
                        if (isValid) {
                            $('#chargement').addClass('loader');
                            await setsession('validation', 'oui');
                            $('#booking').submit();
                        } else {
                            $('#validREGLEMENT').prop('checked', false).removeAttr('checked');
                        }
                    } else {
                        $('#validREGLEMENT').prop('checked', false).removeAttr('checked');
                    }
                } catch (error) {
                    console.error(error);
                } finally {
                    $('.page_loader').hide();
                }
            }
            function checkSteps(){
                const voir_adresse = '{{  app.session.get('voir_adresse') }}';
                const voir_passenger = '{{ app.session.get('voir_passenger') }}';
                const voir_option = '{{ app.session.get('voir_option') }}';
                const voir_assurance = '{{  app.session.get('voir_assurance') }}';
                const validation = '{{  app.session.get('validation') }}';

                $('#voir_adresse').toggleClass('hidden', validation !== 'checked' || voir_adresse === 'oui');
                $('#voir_passenger').toggleClass('hidden', validation !== 'checked' || voir_passenger === 'oui');
                $('#voir_option').toggleClass('hidden', validation !== 'checked' || voir_option === 'oui');
                $('#step_assurance, #step_validation').toggleClass('hidden', validation !== 'checked' || voir_assurance === 'oui');
            }
            function versPaiement(){
                $(".page_loader").show();
                $.ajax({
                    type: "POST",
                    url: "{{ path('app_topayment') }}",
                    dataType: "html",
                    success: function(response){
                        $('#topayment').html(response);
                    },
                    complete: function(data)
                    {
                        $(".page_loader").hide();
                    }
                });
            }
            function displayInfos(){
                $.ajax({
                    type: "POST",
                    url: "{{ path('app_infos') }}",
                    dataType: "html",
                    success: function(response) {
                        $('.ata-sidebar').html(response);
                    },
                });
            }
            function checkNaissance(id){
                var nb_car = $('#'+id).val().length;
                if(nb_car == 2 || nb_car == 5) {
                    $('#'+id).val($('#'+id).val()+'/');
                }
            }
            function voir(id){
                $('#'+id).removeClass('hidden');
            }
            function showLoader(){
                $('#chargement').addClass('loader');
            }
            function hideLoader(){
                $('#chargement').removeClass('loader');
            }
        </script>

    </body>
</html>
